body {
    font-family: 'Noto Serif';
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    color: #021112;

    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 150px;
}

/*Header*/

.header {
    width: 100%;
    height: 90px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1000;

    /*background-color: rgba(0, 0, 0, 0.2);*/
}

.header__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.nav__link {
    margin-right: 35px;
    position: relative;
    text-decoration: none;
    color: #021112;
}

.nav__link:hover::before{
   transform: scaleX(1);
   transition: transform .2s linear;
}

.nav__link::before {
    content: ' ';
    width: 100%;
    height: 2px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
}

.log__in {
    text-decoration: none;
    color: #fff;
    background-color: blue;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
}


/*Intro*/

.intro {
    width: 100%;
    height: 1700px;
    position: relative;
    background-image: url(../img/intro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.intro__title {
    text-align: center;
    position: relative;
    top: 300px;
}

.title__item {
    font-size: 80px;
    line-height: 1.2;
}

.intro__text {
    position: relative;
    top: 335px;
    text-align: center;
}

/*Search*/

.form__search {
    width: 100%;
    max-width: 1273px;
    height: 273px;

    position: relative;
    top: 450px;
    margin: 0 auto;
    border: 1px solid white;
    background-color: white;
    border-radius: 25px;

    padding: 20px 50px;

    display: flex;
}

.form {
    width: 100%;
}

.radio__group {
    display: flex;
    border-bottom: 1px solid #E0E2E3;
}

.radio__item {
    font-size: 26px;
    font-weight: 400;
    color: #CCCFD0;

    padding-right: 50px;
    padding-bottom: 20px;
}


input[type="radio"] {
    display: none;
}

label {
    cursor: pointer;
   
}

input[type="radio"]:checked + label {
    border-bottom: 2px solid #021112;
    color: #021112;
    padding-bottom: 21.3px;
    font-weight: 600; 
}

.option__group {
    display: none;
}


.option__group.active {
    display: flex;
    width: 100%;
    max-width: 1100px;
    justify-content: space-between;
}


.header__option {
    display: flex;
}


.option__item.border{
   border-width: 50px;
   border-left: 1px solid #CFCCCC;
   border-right: 1px solid #CFCCCC;
   padding-left: 100px;
   
   margin-top: 40px;
}

.option__item{
    margin-top: 40px;
}


.header__option {
   padding-top: 20px; 
}


.header__title {
    font-size: 18px;
    font-weight: 400;
    color: #677071;

    padding-left: 10px;
}

.form__img {
    width: 20px;
    height: 20px;
}

select {
    appearance: none; /* Убирает стандартный стиль в большинстве браузеров */
    -webkit-appearance: none; /* Для Safari */
    -moz-appearance: none; /* Для Firefox */

    border: none;
    background: none;
    outline: none;
    font-size: 25px;
    font-family: Noto Serif;
    color: #021112;
    font-weight: 600;

    cursor: pointer;
}


option {
    background: none;
    font-size: 15px;
}


.button__search {
    width: 206px;
    height: 83px;

    border-radius: 20px;
    border: none;
    margin-top: 40px;

    color: #fff;
    font-size: 28px;
    font-weight: 600;
    font-family: Noto Serif;

    background-color: #13A6BA;
    cursor: pointer;
}


.intro__img {
    width: 1300px;
    text-align: center;
    position: relative;
    top: 360px;
}


/*content-slider*/

.content-slider {
    padding-bottom: 30px;
}

.title-page {
    font-size: 58px;
    font-weight: 700;
    color: #021112;
}

.subtitle-page {
    display: inline-block;

    color: #677071;
    font-size: 18px;
    font-weight: 400;
    padding-top: 15px;
}

.content-slider__inner {
    padding-top: 50px;
    padding-bottom: 100px;
    
    text-align: center;
    
}


.slider__item {
    display: none;
    width: 100%;
    max-width: 520px;
    padding: 70px 20px 20px;
    
}

.slider__item.active_slider{
    display: block;
}

.slider__img {
    width: 452px;
    height: 352px;
}

.slider__title {
    color: #021112;
    font-size: 30px;
    font-weight: 700;
}

.subtitle-page.slider-item {
    padding-top: 10px;
}

.slider__item-button {
    width: 100%;
    display: block;
    padding: 10px 0;
   
    color: #13A6BA;
    font-size: 29px;
    font-weight: 600;

    text-decoration: none;

    border: 1px solid;
    background-color: #fff;
    border-radius: 20px;

    text-align: center;
}

.slider__item-button:hover {
    color: #fff;
    background-color: #13A6BA;
    transition: .4s linear;
}

.slider__item-button:active {
    color: #fff;
    background-color: #097280;
}



.slider {
    width: 1000px;
    margin: 0 auto;
    /*overflow: hidden;*/
    display: flex;
    justify-content: center;

    
}

button {
    background: none;
    border: none;

    cursor: pointer;
}

.prev.controls {
    width: 70px;
    height: 70px;

    rotate: 180deg;
    padding-left: 10px;

    
}

.next.controls {
    width: 70px;
    height: 70px;  
}

/*agents*/

.agents__inner {
    display: flex;
}

.agents__block {
    padding-right: 50px;
}

.agents__block-item {
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.agents {
    padding-bottom: 80px;
}


/*footer*/

.footer {
    padding-top: 100px;
    padding-bottom: 40px;
    
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;

    border-bottom: 1px solid #E0E2E3;
}


.footer__block {
    padding-left: 50px;
}

.footer__item {
    padding-bottom: 10px;

    font-size: 20px;
    font-weight: 400;
    color: #021112;
}

.footer__item.title {
    font-size: 24px;
    font-weight: 700;
    color: #021112;

    padding-bottom: 25px;
}

.footer__subtitle {
    padding-top: 20px;
}
.footer__autor {
    text-align: center;
    padding-top: 15px;

    font-size: 18px;
    font-weight: 400;
    color: #677071;
}

.social {
    display: flex;
    justify-content: space-between;

    padding-top: 20px;
}


.social__item {
    width: 40xp;
    height: 40px;
    
   
    border: 1px solid grey;
   
}

.social__logo {
    justify-content: center;
    align-items: center;
    padding: 5px;
}